aiogram==3.15.0
aiosqlite==0.20.0
python-dotenv==1.0.1
aiofiles==23.2.1

redis==5.0.1

gspread==6.1.4
google-api-python-client==2.144.0
google-auth-oauthlib==1.2.1
google-auth==2.35.0

telethon==1.37.0

pytz==2024.2
requests>=2.32.0
pandas==2.2.3
openpyxl==3.1.5
XlsxWriter==3.2.0